@media screen and (max-width: 600px) {

    .about-container {
        grid-template-columns: 1fr;

        .right-about {
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }

        .left-about {
            padding-right:0;
            p {
                padding-left: 0;
            }
        }
    }

    .timeline {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .portfolios {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .blogs {
        grid-template-columns: 1fr;
        padding-top: 6rem;
    }

    .contact-content-container {
        flex-direction: column;
        .right-contact {
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }

    .contact-content-container .right-contact .i-c-2 {
        flex-direction: column;
    }

    .contact-content-container .right-contact .i-c-2 :last-child {
        margin-left: 0 !important;
        margin-top: 1.5rem;
    }

    .section {
        padding: 5rem 2.5rem !important;
    }

    .main-title {
        h2 {
            font-size: 2rem;
            span {
                font-size: 2.5rem;
            }
            .bg-txt {
                font-size: 3rem !important;
            }
        }
    }
}

@media screen and (max-width: 1432px) {

    .header {
        padding: 0 !important;
    }

    .section {
        padding: 7rem 11rem;
    }

    .contact-content-container {
        flex-direction: column;
        .right-contact {
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }

    .contact-content-container .right-contact .i-c-2 {
        flex-direction: column;
    }

    .contact-content-container .right-contact .i-c-2 :last-child {
        margin-left: 0 !important;
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 1070px) {

    .about-container {
        grid-template-columns: 1fr;
        .right-about {
            padding-top: 2.5rem;
        }
        .left-about {
            p{
                margin-left: 0 !important;
            }
            h4 {
                margin-left: 0 !important;
            }
        }
    }

    .portfolios {
        grid-template-columns: 1fr 1fr;
    }

    .blogs {
        grid-template-columns: 1fr 1fr;
    }

    .main-title {
        h2 {
            font-size: 4rem;
            span {
                font-size: 4rem;
            }
            .bg-txt {
                font-size: 4.5rem;
            }
        }
    }
}

@media screen and (max-width: 970px) {

    .section {
        padding: 7rem 6rem;
    }

    header {
        padding: 0;
    }

    header .right-header {
        padding: 0rem !important;
    }

    .theme-btn {
        width: 50px;
        height: 50px;
        top:auto;
        bottom: 77px;
    }

    .header-content {
        grid-template-columns: 1fr;
        padding-top: 6rem;
    }

    .left-header {
        .h-shape {
            display: none;
        }
    }

    .right-header {
        grid-row: 1;
        width: 90%;
        margin: 0 auto;

        .name {
            font-size: 2.5rem;
        }
    }

    .header-content .left-header .image {
        margin: 0 auto;
        width: 90%;
    }


    .controls {
        top: 0;
        bottom: auto;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey5);
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;

        .control {
            margin: .6rem 2rem !important;
        }
    }
}

@media screen and (max-width: 700px) {

    .section {
        padding: 7rem 3rem;
    }

    .about-skills {
        .progress-bars {
            grid-template-columns: 1fr;
        }
    }

    .main-title {
        h2 {
            font-size: 3rem;
            span {
                font-size: 3rem;
            }
            .bg-txt {
                font-size: 4rem;
            }
        }
    }
}

@media screen and (max-width: 500px) {

    .section {
        padding: 4rem 1rem !important;
    }

    .portfolios {
        grid-template-columns: 1fr;
    }

    .blogs {
        grid-template-columns: 1fr;
    }

    .main-title {
        margin-top: 2rem;
        h2 {
            font-size: 2.5rem;
            span {
                font-size: 2.5rem;
            }
            .bg-txt {
                font-size: 3rem;
            }
        }
    }

    .timeline {
        grid-template-columns: 1fr;
        margin-left: 1rem;
    }

    .controls {
        top: 0;
        bottom: auto;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey5);
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;

        .control {
            margin: .6rem .6rem !important;
        }
    }
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}