*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-primary: #212121;
    --color-secondary: #00FFF5;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey0: #f8f9fa;
    --color-grey1: #dee2e6;
    --color-grey2: #adb5bd;
    --color-grey3: #6c757d;
    --color-grey4: #495057;
    --color-grey5: #212529;
    --br-sm-2: 14px;
    --box-shadow1: 0 3px 15 rgb(0, 0, 0.3);
    --transition: all .4s ease-in-out;
    --grid-col: repeat(2, 1fr);
}

.light-mode {
    --color-primary: #007ACC;        /* A cool blue color */
    --color-secondary: #FF7F50;     /* A coral-orange color */
    --color-white: #ffffff;         /* White for background */
    --color-black: #000000;         /* Black for text */
    --color-grey0: #f5f5f5;         /* Slightly warmer light grey */
    --color-grey1: #e0e0e0;         /* Light grey */
    --color-grey2: #b0b0b0;         /* Medium grey */
    --color-grey3: #808080;         /* Slightly darker grey */
    --color-grey4: #404040;         /* Dark grey */
    --color-grey5: #212121;         /* Darkest grey for text */
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-primary);
    color: var(--color-white);

    font-family: 'MuseoModerno', 'Prompt', sans-serif;
    font-size: 1.1rem;

    transition: var(--transition);

    &:hover > .circle{
        opacity: 1;
    }
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header {
    min-height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.section {
    transform: translateY(-100%) scale(0);
    transition: var(--transition);
}

.sec1 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec2 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec3 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec4 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec5 {
    display: none;
    transform: translateY(0) scale(1);
}

.active {
    display: block;
    animation: scaleAnim 1s ease-in-out;

    @keyframes scaleAnim {
        0% {
            transform: translateY(-100%) scaleY(0);
        }

        100% {
            transform: translateY(0) scaleY(1);
        }
    }
}

//Controls
.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50%);

    .active-btn {
        background-color: var(--color-secondary) !important;
        transition: var(--transition);

        i {
            color: var(--color-white) !important;
        }
    }

    .control {
        background-color: var(--color-grey4);
        box-shadow: var(--box-shadow1);

        padding: 1rem;
        cursor: pointer;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;

        i {
            font-size: 1.2rem;
            color: var(--color-grey3);
            pointer-events: none;
        }
    }
}


.theme-btn {
    cursor: pointer;
    top: 5%;
    right: 3%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    transition: all .2s ease-in-out;

    background-color: var(--color-grey4);
    box-shadow: 0 3px 15px rgba(0, 0, 0, .3);
    
    display: flex;
    justify-content: center;
    align-items: center;

    &:active {
        transform: translateY(-5px);
    }

    i {
        font-size: 1.4rem;
        color: var(--color-grey2);
        pointer-events: none;
    }

}


/*Header content*/
.header-content {
    display: grid;
    grid-template-columns: var(--grid-col);
    min-height: 100vh;
    
    .left-header {
        display: flex;
        align-items: center;
        position: relative;

        .h-shape {
            transition: var(--transition);
            width: 65%;
            height: 100%;
            background-color: var(--color-secondary);
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            clip-path: polygon(0 0, 48% 0, 100% 94%, 3% 100%);
        }

        .image {
            border-radius: var(--br-sm-2);
            height: 87%;
            width: 68%;
            margin-left: 4rem;
            background-color: var(--color-black);
            transition: var(--transition);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: var(--transition);
                filter: grayscale(100%);

                &:hover {
                    filter: grayscale(0%);
                }
            }
        }
    }

    .right-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 18rem;

        .name {
            font-size: 2.4rem;
            font-weight: 800;

            span {
                color: var(--color-secondary);
            }
        }

        p {
            margin: 1.5rem 0;
            line-height: 2rem;

            span {
                color: var(--color-secondary);
            }
        }
    }
}


/*About*/
.about-container {
    display: grid;
    grid-template-columns: var(--grid-col);
    padding-top: 3.5rem;
    padding-bottom: 5rem;

    .right-about {
        display: grid;
        grid-template-columns: var(--grid-col);
        grid-gap: 2rem;

        .about-item {
            border: 1px solid var(--color-grey4);
            border-radius: 5px;
             transition: var(--transition);
             box-shadow: 1px 2px 15px rgba(0, 0, 0, .1);

             &:hover {
                cursor: default;
                transform: translateY(-5px);
                border: 1px solid var(--color-secondary);
                box-shadow: 1px 4px 15px rgba(0, 0, 0, .5);
             }

             .abt-txt {
                padding: 1.5rem;
                display: flex;
                flex-direction: column;

                .large-text {
                    font-size: 3rem;
                    font-weight: 700;
                    color: var(--color-secondary);
                }

                .small-text {
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    color: var(--color-grey1);
                    letter-spacing: 2px;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 15px;
                        width: 2rem;
                        height: 2px;
                        background-color: var(--color-grey4);
                    }
                }
             }
        }
    }

    .left-about {
        padding-right: 5rem;

        p {
            line-height: 2rem;
            padding: 1rem;
            color: var(--color-grey1);
            margin-left: -150px;
        }

        h4 {
            font-size: 2rem;
            text-transform: uppercase;
            text-align: center;
            margin-left: -100px;
        }
    }
}

.about-skills {
    padding-bottom: 4rem;

    .progress-bars {
        display: grid;
        grid-template-columns: var(--grid-col);
        grid-gap: 2rem;

        .progress-bar {
            display: flex;
            flex-direction: column;

            .prog-title {
                text-transform: uppercase;
                font-weight: 500;
            }

            .progress-con {
                display: flex;
                align-items: center;

                .prog-txt {
                    color: var(--color-grey2)
                }

                .progress {
                    width: 100%;
                    height: .45rem;
                    background-color: var(--color-grey4);
                    margin-left: 1rem;
                    position: relative;

                    span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        background-color: var(--color-secondary);
                        //transition: var(--transition);
                    }

                    .html {
                        width: 33%;
                    }

                    .css {
                        width: 33%;
                    }

                    .javascript {
                        width: 33%;
                    }

                    .python {
                        width: 99%;
                    }

                    .csharp {
                        width: 66%;
                    }
                    
                    .xaml {
                        width: 66%;
                    }

                    .scss {
                        width: 33%;
                    }

                    .sql {
                        width: 99%;
                    }
                }
            }
        }

        &:nth-child(1) {
            transition-delay: 0;
        }
        &:nth-child(2) {
            transition-delay: 0;
        }
        &:nth-child(3) {
            transition-delay: 200ms;
        }
        &:nth-child(4) {
            transition-delay: 200ms;
        }
        &:nth-child(5) {
            transition-delay: 400ms;
        }
        &:nth-child(6) {
            transition-delay: 400ms;
        }
        &:nth-child(7) {
            transition-delay: 600ms;
        }
        &:nth-child(8) {
            transition-delay: 600ms;
        }
    }
}

.skills-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: 60%;
        height: 2.5px;
        background-color: var(--color-grey4);
        transform: translateX(-50%);
    }
}


/*TimeLine*/
.timeline {
    display: grid;
    grid-template-columns: var(--grid-col);
    grid-gap: 2rem;
    padding-bottom: 3rem;

    .timeline-item {
        position: relative;
        padding-left: 3rem;
        border-left: 2px solid var(--color-grey4);

        .tl-icon {
            background-color: var(--color-secondary);
            position: absolute;
            left: -27px;
            top: 0%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            i{
                font-size: 1.3rem;
            }
        }

        .tl-duration {
            background-color: var(--color-grey5);
            padding: .2rem .6rem;
            border-radius: 50px;
            display: inline-block;
            font-size: .8rem;
            font-weight: 500;
            text-transform: uppercase;
        }

        h5 {
            padding: 1rem 0;
            text-transform: capitalize;
            font-size: 1.3rem;
            font-weight: 600;
            margin-right: 5px;

            span {
                color: var(--color-grey2);
                font-size: 1.2rem;
                font-weight: 500;
            }
        }

        p {
            color: var(--color-grey2)
        }
    }

    &:nth-child(1) {
        transition-delay: 0;
    }
    &:nth-child(2) {
        transition-delay: 0;
    }
    &:nth-child(3) {
        transition-delay: 200ms;
    }
    &:nth-child(4) {
        transition-delay: 200ms;
    }
    &:nth-child(5) {
        transition-delay: 400ms;
    }
    &:nth-child(6) {
        transition-delay: 400ms;
    }
    &:nth-child(7) {
        transition-delay: 600ms;
    }
}

// On Scroll Animation 
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


//Portfolios
.port-txt {
    padding: 2rem 0;
    text-align: center;
}

.portfolios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;

    .portfolio-item {
        position: relative;

        img {
            width: 100%;
            height: 300px;
            object-fit: contain;
            border-radius: 15px;
        }

        .hover-items {
            background-color: var(--color-secondary);
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 15px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            opacity: 0;
            transform: scale(0);
            transition: var(--transition);

            h3 {
                font-size: 1.5rem;
                margin-bottom: 1.5rem;
                color: var(--color-white);
            }

            .icons {
                display: flex;
                align-items: center;
                justify-content: center;

                .icon {
                    background-color: var(--color-primary);
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    margin: 0 1rem;
                    cursor: pointer;
                    transform: var(--transition);

                    i {
                        font-size: 1.5rem;
                        color: var(--color-white);
                        margin: 0 1rem;
                    }

                    &:hover {
                        background-color: var(--color-white);

                        i {
                            color: var(--color-primary);
                        }
                    }
                }
            }
        }
    }
}

.portfolio-item:hover .hover-items{
    opacity: 1;
    transform: scale(1);
    transition: var(--transition);
}


//Blogs Section
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // ! Remember to change to 3.
    grid-gap: 2rem;
    margin-top: 3rem;

    .blog {
        position: relative;
        border-radius: 5px;
        transition: var(--transition);
        box-shadow: 1px 1px 20px rgba(0, 0, 0, .1);
        background-color: var(--color-grey5);

        &:hover {
            box-shadow: 3px 3px 18px rgba(0, 0, 0, .3);
            transform: translateY(-5px);
            transition: var(--transition);

            img {
                filter: grayscale(0);
                transform: scale(1.1);
                box-shadow: 0px 4px 15px rgba(0, 0, 0, .8);
            }
        }

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            
            filter: grayscale(100%);
            transition: var(--transition);
        }

        .blog-txt {
            margin-top: -7px;
            padding: 1.1rem;
            border-top: 8px solid var(--color-secondary);

            h4 {
                font-size: 1.5rem;
                margin-bottom: .7rem;
                transition: var(--transition);
                cursor: pointer;

                &:hover {
                    color: var(--color-secondary)
                }
            }

            p {
                color: var(--color-grey2);
                line-height: 2rem;
                padding-bottom: 1rem;
            }
        }
    }
}


//Contact Section
.contact-content-container {
    display: flex;
    padding-top: 3.5rem;

    .left-contact {
        flex: 2.5;

        h4 {
            margin-top: 1rem;
            font-size: 2rem;
            text-transform: uppercase;
        }

        p {
            margin: 1rem 0;
            line-height: 2rem;
        }

        .contact-info {
            .contact-item {
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    margin: .3rem 0 !important;
                    padding: 0 !important;
                }

                .icon {
                    display: grid;
                    grid-template-columns: 40px 1fr;

                    i {
                        display: flex;
                        align-items: center;
                        font-size: 1.3rem;
                    }
                }
            }
        }

        .contact-icon {
            display: flex;
            margin-top: 2rem;

            a {
                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;
                color: var(--color-white);
                background-color: var(--color-grey5);
                box-shadow: var(--box-shadow1);

                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 0 .4rem;
                transition: var(--transition);

                &:hover {
                    background-color: var(--color-secondary);
                    transform: scale(1.1);

                    i {
                        color: var(--color-primary);
                    }
                }

                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    font-size: 1.3rem;
                }
            }
        }
    }

    .right-contact {
        flex: 2.5;
        margin-left: 3rem;

        .input-control {
            margin: 1.5rem 0rem;

            input, textarea {
                width: 100%;
                padding: .8rem 1.1rem;
                border-radius: 30px;
                border: none;
                outline: none;
                resize: none;

                background-color: var(--color-grey5);
                color: var(--color-white);

                font-weight: 500;
                font-size: inherit;
                font-family: inherit;
            }
        }

        .i-c-2 {
            display: flex;

            :last-child {
                margin-left: 1.5rem;
            }
        }          
    }
}


/* Loading Screen */
.load-con {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Changed to fixed for better positioning */
    background-color: var(--color-primary);
    z-index: 999999;

    .ring {
        position: absolute;
        border-radius: 50%;

        &:nth-child(1) {
            width: 250px;
            height: 250px;
            border-top: 5px solid #00FFF5;
            animation: rotate-forward 1.4s linear infinite;
        }
        &:nth-child(2) {
            width: 230px;
            height: 230px;
            border-top: 5px solid #007ACC;
            transform: rotate(85deg);
            animation: rotate-backward 5s linear infinite;
        }
        &:nth-child(3) {
            width: 210px;
            height: 210px;
            border-top: 5px solid #FF7F50;
            transform: rotate(255deg);
            animation: rotate-forward 2.2s linear infinite;
        }
    }

    .load-txt {
        position: absolute;
        font-family: cursive;
        font-size: 22px;
        color: var(--color-white);
        z-index: 10;
    }
}

@keyframes rotate-forward {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-backward {
    0% {
        transform: rotate(3600deg);
    }
    100% {
        transform: rotate(0deg);
    }
}



/*Independent components*/
.submit-btn-con {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 180px;
    height: 50px;
    border-radius: 30em;
    font-size: 20px;
    font-family: inherit;
    overflow: hidden;
    cursor: pointer;

    .submit-btn {
        width: 80%;
        height: 100%;
        border-radius: 30em;
        font-family: inherit;
        font-size: 20px;
        font-weight: 600;
        border: none;
        background-color: transparent;
        color: var(--color-white);
        position: relative;
        z-index: 1;
        cursor: pointer;
        transition: background-color 0.5s ease;
    }

    i {
        color: var(--color-white); /* Color of the icon */
        display: none;
        z-index: 1;
    }

    &::before {
        content: '';
        width: 0;
        height: 100%;
        border-radius: 30em;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to right, var(--color-primary) 0%, var(--color-secondary) 50%);
        transition: width 0.5s ease, box-shadow 0.5s ease;
    }

    &:hover {
        i {
            display: block; /* Show the icon when the container is hovered */
        }

        &::before {
            width: 100%;
            box-shadow: 6px 6px 12px var(--color-grey3), -6px -6px 12px var(--color-white);
        }
    }
}


.main-title {
    text-align: center;

    h2 {
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;

        span {
            color: var(--color-secondary);
        }

        .bg-txt {
            position: absolute;
            top: 50%;
            left: 50%;
            color: var(--color-grey5);
            transition: var(--transition);
            z-index: -1;
            transform: translate(-50%, -50%);
            font-weight: 800;
            font-size: 5.4rem;
        }
    }
}

// The cursor
.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */

    opacity: 0;
    transition: opacity 500ms ease;
}


@import './media';